<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDAOImpl" class="App.model.QuizDAOImpl">
        <constructor-arg value="src/main/resources/quiz.csv"/>
    </bean>

    <bean id="TestServiceImpl" class="App.service.TestServiceImpl"/>

    <bean id="facadeImpl" class="App.facade.FacadeImpl">
        <constructor-arg name="service" ref="TestServiceImpl"/>
        <constructor-arg name="quizDAO" ref="quizDAOImpl"/>
    </bean>

    <bean id="testControllerImpl" class="App.controller.TestControllerImpl">
        <constructor-arg ref="facadeImpl"/>
    </bean>

</beans>